.container{
	color: navy;
}

.jumbotron{
	background: lightblue;	
    width: 100%;
}

.gem-image {
	width: 120px;
    height: 120px;
}

#gems{

    position: absolute;
    top: 200px;
    left: 120px;
    z-index: 1;
}

.gemPillow {

    position: relative;
    top: 10px;
    left: 10px;
}

.numberDisplay {

    color: red;
    font-size: 58px;
}
  